[2016-07-19 07:40] cdietrich opened #1 "Get tests running"

[2016-07-19 09:21] cdietrich opened #2 "Cleanup poms"

[2016-07-26 04:42] cdietrich commented on #1
is blocked by https://github.com/eclipse/xtext-core/issues/53

[2016-07-26 04:43] cdietrich commented on #1
see https://github.com/eclipse/xtext-maven/tree/testCleanup

[2016-07-27 11:40] cdietrich commented on #2
the pom should be cleaned and proper work with jenkins snapshots

[2016-08-11 21:14] kthoms opened #3 "Upgrade to Tycho 0.25.0"
Some test resource pom.xml files contain still <tycho-version>0.18.0</tycho-version>. This should be upgraded to latest release 0.25.0.

[2016-08-12 05:53] kthoms commented on #3
merged with #55ead0e033a8f85c2cd556498c434b9daf6b24ab

[2016-08-12 05:53] #3 closed

[2016-09-16 06:32] cdietrich commented on #1
blocker is still there. on the test cleanup branch it is circumvented by "readding" the transitive dependencies

[2016-10-07 08:40] spoenemann commented on #2
What exactly should be done here?

[2016-10-07 08:42] cdietrich commented on #2
well the poms especially on my test cleanup branch should be checked, reviewed and freeed from unneccessary stuff + maybe should have a different handling regarding upstream, sonatype oss usage etc.

[2016-10-17 18:40] #1 closed

[2016-12-19 15:10] spoenemann commented on #2
Done with 0c2b8ef

[2016-12-19 15:10] #2 closed

[2017-01-11 19:38] cdietrich opened #9 "Investigate and Fix broken Tests"

[2017-01-11 21:29] cdietrich commented on #9
seems to be at least partially caused by the apt problem as well

[2017-01-11 22:19] cdietrich commented on #9
its actually the same problem and solution as https://github.com/eclipse/xtext-xtend/issues/116

[2017-01-12 09:08] #9 closed

[2017-02-14 11:57] cdietrich opened #11 "Xtext Maven Plugin has no way to configure Xbase-GeneratorConfig"
there is no way to configure Xbases GeneratorConfig from xtext-maven-plugin

[2017-06-29 11:55] cdietrich opened #14 "The pom structure of these plugin is totally bogus."
The pom structure of these plugin is totally bogus. i'd prefer to have a simpler parent/child structure

=> why do we need a pom inside the root folder at all?

[2017-09-22 07:12] cdietrich commented on #14
fixed in 2.13

[2017-09-22 07:12] #14 closed

[2017-12-13 22:11] cdietrich opened #20 "Tests use hopelessly outdated dependencies (e.g. xbase.lib 2.4.3)"
we should cleanup/renew the dependencies that the integ tests use

[2018-03-14 10:35] rosczja opened #23 "Xtext Maven Plugin has no way to set compiler arguments"
There is no way to set compiler arguments which are then passed down to the compiler that compiles the stubs.

I would need to switch off annotation processing and to set the "-parameters" flag.

[2018-04-27 14:04] janhicken opened #26 "GenModel publicationLocation does not work with Xcore"
Hi,

I'm using the annotation `@GenModel(publicationLocation="/my-project/output.ecore")` to produce an Ecore file from my Xcore model in the Maven build process. All the Java files are generated as usual, however, this exception gets printed to the console when executing the build:

[code]

It seems that the mapping at `EcorePlugin.getPlatformResourceMap()` hasn't been initialized so the platform

[2018-04-27 14:13] cdietrich commented on #26
Xcore support with maven is general shitty

See https://github.com/cdietrich/xtext-ecore-xcore/blob/master/dully/src/dully/XcoreStandaloneSetup2.java

For a workaround to create such mapping’s

[2018-04-30 08:40] janhicken commented on #26
I tried your workaround with my project setup and it seems to work fine.

However, the problem is, that the given Maven project directory structure is only accessible within the Mojo, so I can only hard-code the entries to fill into the platform resource map.

[2018-05-16 06:47] holgerschill commented on #26
Please have a look here: https://de.slideshare.net/holgerschill/using-xcore-with-xtext

[2018-05-16 06:48] holgerschill commented on #26
And here: https://github.com/holgerschill/XtextCon_Xcore_Maven

[2018-05-29 07:37] OLibutzki opened #30 "org.eclipse.xtext.maven.OutputConfiguration lacks several org.eclipse.xtext.generator.OutputConfiguration options"
There are several options which are provided by _org.eclipse.xtext.generator.OutputConfiguration_, but not included in _org.eclipse.xtext.maven.OutputConfiguration_:

* setDerivedProperty
* keepLocalHistory

I would like to configure my Eclipse project based on the Maven config by using the corresponding m2e connector which is not possible as I cannot specify the mentioned options.

[2018-05-29 07:41] cdietrich commented on #30
i have the feeling they are missing by intention. since maven does not support these properties afaik

[2018-05-29 07:43] kthoms commented on #30
Right, Maven does not have concepts of 'derived' or 'local history'. This is specific to the Eclipse file system.

[2018-05-29 07:48] cdietrich commented on #30
but i am not sure if we should offer these anyway (with documentation) and have a look what our m2e stuff does with it

[2018-05-29 09:08] OLibutzki commented on #30
An alternative solution (which I prefer) is to use the OutputConfiguration of the DSL runtime module as default. In the maven config you can override these defaults and do not have to provide the whole configuration.

Except the output path most of (or all?) the configuration options need to be fixed by the DSL anyway.

Examples:
It does not make sense to configure a output configuration as overri

[2018-06-04 18:22] cdietrich commented on #26
[maven-xcore-sample.zip](https://github.com/eclipse/xtext-maven/files/2069502/maven-xcore-sample.zip) sample project

[2018-06-06 08:11] LorenzoBettini opened #35 "Provide a "bom" for Maven Xtext dependencies"
I was wondering if we should provide a "bom" for Maven dependencies used in Xtext Maven projects; this should only list dependencies in _dependencyManagement_ section with the versions, and Maven projects could use something like

[code]

This way, actual dependency versions should not be kept updated throughout all the Maven projects each time a new version is released, but only in the bom.

Not

[2018-06-06 09:22] LorenzoBettini commented on #35
@cdietrich @dhuebner what do you think?

[2018-06-06 09:27] cdietrich commented on #35
may maven knowledge is too bad to know which possible negative side effect this has. and i wonder if we would need the same at other places. e.g. the maven stuff the wizard creates. @kthoms what do you think

[2018-06-06 09:33] kthoms commented on #35
I think this is a good approach. I was thinking also in this direction for providing parent POMs.

[2018-06-06 09:56] LorenzoBettini commented on #35
@cdietrich  The idea is that the wizard should create such a section in the parent pom of the created project:

[code]

and then, for example for the .ide project, generate dependencies without version, e.g., (compare this to what happens now)

[code]

The versions are taken from the bom Maven project (which should list deps and versions in a dependencyManagement section, so that versions will be

[2018-06-06 09:57] cdietrich commented on #35
but that would not allow to have different deps at different places correct?

[2018-06-06 09:59] LorenzoBettini commented on #35
@cdietrich summarizing, the Xtext wizards should not be changed when versions of dependencies change (just use the new version of Xtext in the generated poms, but it's just a thing to change); of course if new dependencies are needed in the poms generated by the wizards should be changed as well.

Of course, poms using the bom are allowed to override versions of dependencies.

In general boms are

[2018-06-07 10:16] cdietrich commented on #35
build calls
mvn -f git-repo/maven/org.eclipse.emf.mwe2.parent/pom.xml -s /opt/public/hipp/homes/genie.xtext/.m2/settings-deploy-ossrh.xml -DBUILD_TYPE=N -Dsign=true -DBUILD_ALIAS= -Dsign.skip=false -DtestFailureIgnore=true -Dmaven.repo.local=/home/hudson/genie.xtext/.jenkins/jobs/mwe2/workspace/.repository clean install

=> @kthoms is is possible jenkinsfile not used?

[2018-06-07 13:39] ciis0 opened #36 "Goals are not marked @threadSafe (Parallel Maven Build)"
Hello,

due to the long runtime our project has, we are currently trying to make it faster by building it in parallel.

But, as the warning below tells, this plugin is not marked as thread-safe so I am reporting this issue to kindly request thread-safety. :)

Or, if this is already known internally, maybe just point me where thread-safety has to established and I could look into that.

Thank you.

[2018-06-07 13:44] cdietrich commented on #36
emf and xtext is not thread safe. and it is not possible to make it generally thread safe.

[2018-06-07 13:50] ciis0 commented on #36
Well, that's very bad news. :/

[2018-06-07 13:52] ciis0 commented on #36
is it technically or economically not possible?

[2018-06-07 14:20] cdietrich commented on #36
the effort to find a "general" solution is really high and there might be usecases where it is not possible at all. so the answer is yes to both points

[2018-06-07 14:21] cdietrich commented on #36
did you already optimize the singlethreaded perf as much as you can?

[2018-06-07 17:12] ciis0 commented on #36
Well, I am not sure how to optimize the Maven build process further without parallelizing.

But do EMF and Xtext itself really need to be thread-safe, isn't it "enough" that the plugin handles EMF and Xtext in a thread-safe way?

Just to emphasize: I'm talking about the generation itself, not the generated code.
(I am unsure if I expressed my self well enough.)

[2018-06-07 21:08] kthoms commented on #36
We understood that you are talking about the generation process itself. And parallelizing is surely one thing which seems an obvious way to improve performance. But without profiling your process you are just guessing that you might improve here. The first thing we usually do is profiling and then deduce how we can improve performance. We do this often, and very depending on the project's nature t

[2018-06-08 06:13] cdietrich commented on #30
i would prefer a lightweight solution here first. it would fix the problem and not be a breaking change

[2018-06-08 06:17] OLibutzki commented on #30
Can you clarify how a "lightweight solution" looks like? ;-)

[2018-06-08 06:18] cdietrich commented on #30
Simply add the 2 missing properties and ignore it from maven

[2018-06-08 12:19] ciis0 commented on #36
Okay, thank you so far. :)

[2018-06-13 17:09] pfink commented on #36
Hi all,

I think the discussion got a slightly wrong spin here. Thread-safety doesn't mean that the plugin has to run faster than before or that it should be able to execute things in parallel. Thread-safety means that it does not produce wrong results (which it currently does) when executed in a multi-threaded build.

The xtext plugin is just one plugin out of many. That's why I think it's essent

[2018-06-13 17:27] cdietrich commented on #36
i am fine with mark the plugin as not to support multithreading by adding the look
but i find it wired that the maven guys chose this model of opting out from multi threading instead of opting in.

[2018-06-13 18:14] cdietrich opened #38 "Consider to Switch to annotations instead of doclet"

[2018-06-13 18:16] cdietrich commented on #38
see https://github.com/eclipse/xtext-xtend/issues/469 too

[2018-06-15 14:56] cdietrich commented on #36
Fixed in 2.15

[2018-06-15 14:56] #36 closed

[2018-06-15 14:56] cdietrich commented on #26
Fixed in 2.15

[2018-06-15 14:56] #26 closed

[2018-06-22 13:11] LorenzoBettini commented on #35
@cdietrich @kthoms I may start working on this, do you think it's worthwhile?
it will then require changes in the wizards.

[2018-06-22 13:35] cdietrich commented on #35
For me it would be ok @kthoms what do you think

[2018-06-29 13:14] markieww opened #42 "Plugin is broken due to Photon release - signer information does not match signer information of other classes in the same package"
My nightly builds using `org.eclipse.xtext:xtext-maven-plugin:2.14.0` are broken since this night. The nights before there were no such issues.

The error is `class "org.eclipse.core.runtime.OperationCanceledException"'s signer information does not match signer information of other classes in the same package`

I think the GA of the photon release breaks the plugin. Are version ranges in plugin.xm

[2018-06-29 13:21] cdietrich commented on #42
https://github.com/eclipse/xtext/issues/1231

[2018-06-29 13:21] #42 closed

[2018-07-09 10:34] cdietrich commented on #30
Fixed in 2.15

[2018-07-09 10:34] #30 closed

[2018-07-23 14:16] cdietrich opened #45 "Fix m2e warnings"
org.eclipse.m2e.core.internal.embedder.EclipseLogger  - Using platform encoding (UTF-8 actually) to copy filtered resources, i.e. build is platform dependent!

[2018-07-23 14:20] cdietrich commented on #45
happens if workingset is selected, project -> clean

[2018-08-14 10:00] cdietrich commented on #38
In the early days of java there were no annotations. but javadoc processors (xdoclet). so maven used special javadoc annotations to describe the api of plugins. we use these in our maven plugins.
since java has annotations maven plugins api is described with real annotations (https://maven.apache.org/guides/plugin/guide-java-plugin-development.html) so we should use these in our plugins as well

T

[2018-08-22 14:02] kthoms opened #47 "Upgrade maven-javadoc-plugin version"
Running `mvn install` on the `org.eclipse.xtext.maven.parent` fails with an error for the maven-javadoc-plugin:
[code]

This could be related to the used Maven version 3.3.9, which is rather old. However, the used version of the maven-javadoc-plugin is also old, the newest version is 3.0.1. Using this version solved the issue.

[2018-08-22 18:36] Victoria2202 opened #49 "Generate sources with two different files"
Hello,

I have a project with an own DSL. I would like generate the sourcen automatically with maven. The xtext-maven-plugin looks in my pom.xml like this:

[code]

The "model"-Folder looks like this:
- test.own
- otherFile.smi
- env.own

The sources of other projects will be generated if the model folder has only "*.own" Files. I have now the *.smi file, which works in Eclipse fine... but not wit

[2018-08-22 18:39] cdietrich commented on #49
you can simply add all dependencies and have to registions of languages

e.g.

[code]

[2018-08-22 18:47] Victoria2202 commented on #49
Hello, that was a fast answer.
The smi-file has no language like the *.own-files.

We have a eclipse-plugin with a smi.xcore. The eclipse-plugin has following plugin.xml:

[code]

[2018-08-22 18:54] cdietrich commented on #49
if you have a ecore based dsl you need to provide a OWN IResourceServiceProvider for that.
i assume you already have that dont your?

[2018-08-22 19:04] cdietrich commented on #49
=> one language, two extensions?
=> or is the other dsl xmi based?

[2018-08-22 19:08] Victoria2202 commented on #49
I added already following lines to the OwnStandaloneSetup

[code]

[2018-08-22 19:14] Victoria2202 commented on #49
The *.smi file is different to the *.own file. But the contents from the smi file are important for the *.own file.
The resource of the smi file is xmi.

smi.xcore:
[code]

[2018-08-22 19:31] cdietrich commented on #49
hmmm i am note sure if it is a good idea to use the same standalonesetup/resourceserviceprovider then.

or you try to have a look what xtext generates when multiple extensions are specified in workflow

[code]

am not sure if your code is 100% equivalent there
org.eclipse.xtext.builder.standalone.LanguageAccessFactory.createLanguageAccess(List<? extends ILanguageConfiguration>, ClassLoader)
ueses

[2018-08-22 21:05] Victoria2202 commented on #49
Ich could add both files:

[code]

[code]

The good part is that maven could read both files:

But I get still the samoe error:

[2018-08-22 21:06] cdietrich commented on #49
I don’t know how your nameprovider scoping whatever works. You would need to debug that

[2018-08-23 09:09] Victoria2202 commented on #49
The *.smi File looks like a xml-File:

[code]

[2018-08-23 09:16] cdietrich commented on #49
as i said: you need to debug maven for that.

[2018-08-23 09:51] Victoria2202 commented on #49
Ok, this is the log from TestProject:

[code]

[2018-08-23 09:53] cdietrich commented on #49
No I mean remote debug into the maven build

[2018-08-23 10:46] Victoria2202 commented on #49
I am confused. Which Maven Build?

[2018-08-23 10:55] cdietrich commented on #49
you do maven clean install in the model project. you need to debug into that build to find out what does wrong `mvnDebug clean install`. alternatively: does it work with a manually written java main class?

[2018-08-23 11:17] Victoria2202 commented on #49
I tried to Debug Remote with Eclipse. But i dont get any more informations.

[2018-08-23 12:02] Victoria2202 commented on #49
Thanks. :) I didnt wrote the DSL. I write just the Maven-Build-Plugin for that.

I get in the methode getLinkedObjects(EObject, EReference, INode) following output for the Scope: SimpleScope[] -> NULLSCOPE. The eObjectDescription is null.

[2018-08-23 12:06] cdietrich commented on #49
=> you need to debug scope provider

[2018-08-23 12:12] cdietrich commented on #49
and again the question.

does a simple java main the loads the 3 files and then calls EcoreUtil.resolveAll(resourceSet) work?

[2018-08-23 12:17] Victoria2202 commented on #49
Yes, it works with an Eclipse build. The Eclipse RCP Project works with the dsl fine. But it works not with the Maven Build.

[2018-08-23 12:36] cdietrich commented on #49
no i mean a public static void main method in a class

[2018-08-23 13:06] Victoria2202 commented on #49
I have a test with the resources. It works with EcoreUtil.resolveAll(resourceSet). All Resources are inside.

org.eclipse.emf.ecore.resource.impl.ResourceSetImpl@3eadad14 resources=[org.eclipse.emf.ecore.xmi.impl.XMLResourceImpl@4acc27fd uri='/resources/own/otherFile.smi', org.eclipse.xtext.linking.lazy.LazyLinkingResource@1feb76b9 uri='/resources/own/test.own', org.eclipse.xtext.linking.lazy.Lazy

[2018-08-23 13:07] cdietrich commented on #49
no i mean: are there any getErrors on any resource after that call

[2018-08-23 13:14] Victoria2202 commented on #49
These are the errors what I get:

[code]

[2018-08-23 13:31] cdietrich commented on #49
you cannot compare standalone and eclipse. they work fundamentally different.
=> you need to find out what goes wrong in scoping.
=> getting a local main running will be a first step
=> how do you create your uris in your main?

[2018-08-23 13:38] Victoria2202 commented on #49
I did it like that:

[code]

[2018-08-23 13:49] cdietrich commented on #49
can you try to create absolute file uris (cannot tell you how to exaclty do that on win)

[2018-08-23 13:50] cdietrich commented on #49
and dont use OPTION_RESOLVE_ALL, remove that line

[2018-08-23 13:51] cdietrich commented on #49
and i am not sure what that loadResource does
would have expected

Resource r1 = resourceSet.getResource(uri1, true);

Resource r2 = resourceSet.getResource(uri1, true);

r1.load(null);
r2.load(null);

[2018-08-23 14:12] Victoria2202 commented on #49
Ok, I changed the code. I have now no errors.

[code]

[2018-08-23 14:14] cdietrich commented on #49
where do you look for errors
smiResource.getErrors() is not called after the resolveAll, same for testResource envResource

[2018-08-23 14:16] Victoria2202 commented on #49
Yes, I get no error if I run it or debug it.

[2018-08-23 14:27] Victoria2202 commented on #49
Do you mean from the resourceSet?

`org.eclipse.emf.ecore.resource.impl.ResourceSetImpl@58fbcb71 resources=[org.eclipse.xtext.linking.lazy.LazyLinkingResource@70cf7d1e uri='file:/E:/GIT/project/de.company.lang.own/src/resources/own/otherFile.smi', org.eclipse.xtext.linking.lazy.LazyLinkingResource@72f3f14c uri='file:/'E:/GIT/project/de.company.lang.own/src/resources/own/test.own', org.eclipse.xtex

[2018-08-23 14:28] cdietrich commented on #49
no println(r1.getErrors()); println(r2.getErrors());println(r3.getErrors());

[2018-08-23 14:37] Victoria2202 commented on #49
Oh...

[code]

[2018-08-23 14:39] cdietrich commented on #49
=> are you sure you load the correct files with the corrent extensions as registered in your standalone setup?

[2018-08-23 14:53] Victoria2202 commented on #49
Sorry, I forgot to add the lib files.

[code]

[2018-08-23 14:58] cdietrich commented on #49
still looks like you read a xml/xmi file as dsl file?

[2018-08-23 15:01] Victoria2202 commented on #49
Yes, the *.smi flie look like this:

[code]

[2018-08-23 15:02] cdietrich commented on #49
again your standalonesetup does registrer the xmi factory?

[2018-08-23 15:05] Victoria2202 commented on #49
Is this right?

[code]

[2018-08-23 15:06] cdietrich commented on #49
new htat should be new XMIResourceFactoryImpl

[2018-08-23 15:12] Victoria2202 commented on #49
I added following lines... but i get still the same error.

[code]

[2018-08-23 15:14] cdietrich commented on #49
please post the complete method

[2018-08-23 15:25] cdietrich commented on #49
Resource.Factory.Registry.INSTANCE.getExtensionToFactoryMap().put("smi", resourceFactory);
 makes not sense

would have exp.

Resource.Factory.Registry.INSTANCE.getExtensionToFactoryMap().put("smi", new SmiResourceFactoryImpl()));

(only 1 resource factory registration for smi)

[2018-08-23 15:44] Victoria2202 commented on #49
Thank you. The test works now fine without errors. But I get in the maven build following errors:
[code]

[2018-08-23 15:45] cdietrich commented on #49
as i have said: use the resource factory for smi but the resourceserviceprovider for all
IResourceServiceProvider.Registry.INSTANCE.getExtensionToFactoryMap().put("smi", serviceProvider);

[2018-08-23 15:46] cdietrich commented on #49
(a assume you do that already in plugin.xml of ui project via extension point so that it works in eclipse

[2018-08-23 15:51] Victoria2202 commented on #49
Oh sorry, i thought i have to remove the serviceProvider as well.
It works now... 💃  That was a really hard birth. Thank you a lot.

[2018-08-23 15:59] #49 closed

[2019-01-06 18:04] cdietrich opened #59 "Fix failing tests"
Fix failing tests
http://services.typefox.io/open-source/jenkins/job/xtext-maven/job/master/105/

[2019-01-06 19:16] #59 closed

[2019-01-14 14:01] OLibutzki opened #62 "org.eclipse.xtext.maven.OutputConfiguration lacks setName method"
org.eclipse.xtext.maven.OutputConfiguration seems to lack a setName(String) method. Therefore it's not possible to override output configurations except the default one (IFileSystemAccess.DEFAULT_OUTPUT).

[2019-01-14 14:11] cdietrich commented on #62
i wonder why there is no setName

[2019-01-14 14:49] cdietrich commented on #62
hmmm maven proposes me name although there is no setter.
@OLibutzki did you actually try it out?

[2019-01-14 15:14] OLibutzki commented on #62
Hmm, no, just stumbled upon this... maybe the field is set via reflection? But then I wonder why the other fields have setters.

[2019-01-14 15:34] cdietrich commented on #62
seems to work without setter too, but we will add it for consistency

[2019-01-14 15:44] cdietrich commented on #62
Fixed in 2.17

[2019-01-14 15:44] #62 closed

[2019-01-15 09:02] SonReimer opened #64 "m2e: Wrong name of created Preference Store derived from StandaloneSetup"
If someone overrides the StandaloneSetup for his language e.g.
PlatformServiceStandaloneSetup extends ServiceStandaloneSetup,
the name of the PreferenceStore containing the outputconfiguration settings is derived from the
standalone setup name, here <packagename>.PlatformService,
but IPreferenceStoreAcess expects the name of the language.
Therefore the settings are not found in the EclipseOutputCo

[2019-01-15 09:06] cdietrich commented on #64
see org.eclipse.xtext.m2e.Language.name() in xtext-eclipse

[2019-01-15 09:14] SonReimer commented on #64
So I'll have to set the name of the language explicitly ? But can I do this ?

[2019-01-15 09:17] cdietrich commented on #64
you cant. i think we need a proper concept for that problem

[2019-01-15 09:20] SonReimer commented on #64
This issue belongs #62 from OLibutzki.
Do you think, the workaround stated above could help in between ?

[2019-01-15 09:21] cdietrich commented on #64
having a look at the code

```	return setup.replace("StandaloneSetup", "");```

you trick around and name the custom class
StandaloneSetupMyDsl

[2019-01-15 09:31] cdietrich commented on #64
yes need to be the same package

[2019-01-15 09:36] SonReimer commented on #64
How about adding a language name attribute to org.eclipse.xtext.m2e.Language and the corresponding maven class.
If it is set, use it for the name of the preference store, otherwise fall back to the setup name.

[2019-01-15 09:37] cdietrich commented on #64
yes that would be an option

[2019-01-15 09:38] SonReimer commented on #64
Ok. thanks for your help and your fast reply.
I'll try out the option overriding the preference access as a workaround.

[2019-01-15 15:11] cdietrich commented on #64
idea: have a explicit property for language name.
if not set use fallback as is

[2019-01-31 12:54] kthoms commented on #35
Can we consider this as fixed with introduction of the dev-bom with eclipse/xtext#1249 ?

[2019-01-31 13:06] cdietrich commented on #35
i assume @LorenzoBettini was thinking a bom including xtext plugins as well

[2019-01-31 13:06] kthoms commented on #35
Ah, yes, this is still an open issue.

[2019-01-31 15:07] LorenzoBettini commented on #35
Well, if I understand correctly, the bom, which only deals with dependencies, should be done now, shouldn't it? For plugins you need a parent POM, you can't do that with a bom. Or are we talking about the dependencies of plugins themselves?

[2019-01-31 15:33] kthoms commented on #35
Xtext's Maven consumable artifacts, e.g. everything from xtext-lib/core/extras, could be managed in a BOM, too. The new xtext-dev-bom only manages dependencies Xtext itself has.
So if you would like to have xtext artifacts managed by a BOM, then this is missing now.

[2019-02-01 08:48] LorenzoBettini commented on #35
OK, so for the moment external deps are not managed by the BOM, are they?

[2019-02-01 08:51] cdietrich commented on #35
on master they are. you are strongly encouraged to test

[2019-02-01 08:52] cdietrich commented on #35
https://www.eclipse.org/forums/index.php/t/1097108/

[2019-02-04 14:46] cdietrich commented on #38
Fixed in 2.17

[2019-02-04 14:46] #38 closed

[2019-02-06 13:05] szarnekow commented on #23
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=481920

It would be good to point to the prefs file in the project .settings (at least optionally)

[2019-02-06 13:12] rosczja commented on #23
Maybe. Or do this: https://github.com/eclipse/xtext-extras/issues/372

[2019-02-06 13:31] szarnekow commented on #23
This would require to maintain the settings twice. If you have them already in Eclipse, it would be good to work with these.
And the other way round would eventually be interesting, too. If you configured the settings in maven, you want them to be applied in Eclipse, too, after you import the project with m2e.

[2019-02-06 13:38] rosczja commented on #23
I would expect my project to work without ever having to use Eclipse just to set compiler arguments and often Eclipse project settings are not under version control.

In Maven you set compiler arguments in the maven-compiler-plugin, like  so:
[code]

So again nothing I could reuse in my xtext-maven plugin, because there are no properties for this, like the source encoding property.

If I am not mi

[2019-02-06 13:39] szarnekow commented on #23
I'm not arguing against the proposed solution. I'm just saying, that other use cases may be solved by pointing to the eclipse preferences file. Similar to what is done for the output configuration already.

[2019-02-06 13:41] rosczja commented on #23
Ok.

So this would be a two-way approach:

1. Enhance CompilerConfiguration and xtext-maven-plugin to pass compiler arguments
2. Check if Eclipse project settings can be used if they are present

[2019-02-07 06:15] vijay44 commented on #36
Just to confirm, "Fixed in 2.15" means is parallel maven build possible with this plugin?

[2019-02-07 06:18] cdietrich commented on #36
no parall support in the plugin.

[2019-02-07 06:20] cdietrich commented on #36
=> nobody has really made use of it

[2019-02-07 13:19] kthoms commented on #36
But it means that the plugin can be used in a parallel Maven build. It itself won't do the work in multiple threads. But it is thread-safe by the synchronization now.

[2019-02-08 06:18] vijay44 commented on #36
Thanks for the clarification

[2019-02-08 17:36] richard-melvin opened #71 "Build problems with xcore and xtext-maven-plugin:2.17.0.M2"
Not sure if this is the right place to raise this, as it is a typical eclipse dependency interaction where it is impossible, as a user, to find the root cause.

Building a dsl with xcore,  xtext-maven-plugin and the xtext-dev-bom, get

[code]

This comes from a call in `XcoreJvmInferrer` of `org.eclipse.emf.ecore.xcore` 1.7.0 to `EcoreValidator.EGenericTypeBuilder.INSTANCE.buildEGenericType`, whic

[2019-02-08 17:48] cdietrich commented on #71
you should keep to the old emf/xcore versions the bom wants to have.
see https://github.com/eclipse/xtext/issues/1282 for the emf update

[2019-02-08 17:48] cdietrich commented on #71
and use java 8 for that.

[2019-02-08 17:49] cdietrich commented on #71
https://github.com/itemis/itemis-blog/tree/xcore_gradle_upgrade_xtext_neu

[2019-02-08 18:02] richard-melvin commented on #71
I guess I'll have to wait on 2.17.0 release, as the older versions suddenly started failing with an error:

[code]

as covered by https://github.com/eclipse/xtext/issues/1373, which ended up closed with the advice 'use a newer version'.

[2019-02-08 18:03] cdietrich commented on #71
no this wont help. M2 has everything we plan

[2019-02-08 18:04] cdietrich commented on #71
if you basically list everything you want explicitely and dont pull
new platform/emf/jdt plugins then everthing will work fine

[2019-02-08 18:05] cdietrich commented on #71
you you just use xcore maven will pull arbitry combinations cause
all the plugins have ranges that ly

[2019-02-08 18:17] cdietrich commented on #71
can you provide a minimal sample project sowing the problem?

[2019-02-09 14:00] richard-melvin commented on #71
Reproduction test case:

[dsl.model.minimal.zip](https://github.com/eclipse/xtext-maven/files/2847848/dsl.model.minimal.zip)

The model needs to have a bit of stuff in it to cause some generic type reasoning to happen.

I want to specify everything; I just have no idea what combination of versions of the 56 jar files involved would successfully compile against each other.

[2019-02-10 08:07] cdietrich commented on #71
i dont get it running neither . the iterable import in the xcore file looks bugus.
if i change it to java.lang.Iterable it still dont work

[code]

is this the message you get?

[2019-02-10 08:52] cdietrich commented on #71
https://github.com/cdietrich/xcore-maven-example works with 2.16
but the same problem: i cannot reference to java.lang.Something
@szarnekow @merks do you know how xcore refers to java and why that could fail in this usecase?

[2019-02-10 09:01] cdietrich commented on #71
scope.getAllElements()
	 (com.google.common.collect.Iterables$2) [User, BigDecimal, BigInteger, Boolean, Byte, Character, Date, Double, Float, Integer, Class, Object, Long, Short, String, java.math.BigDecimal, java.math.BigInteger, boolean, java.lang.Boolean, byte, java.lang.Byte, char, java.lang.Character, java.util.Date, double, java.lang.Double, float, java.lang.Float, int, java.lang.Integer, j

[2019-02-10 09:53] cdietrich commented on #71
import org.eclipse.xtext.common.types.Iterable
somehow works when having plugin dependencies in eclipse.
have no idea why

[2019-02-10 10:00] cdietrich commented on #71
=> working combinations at
https://github.com/cdietrich/xcore-maven-example/tree/cd_xtext216
https://github.com/cdietrich/xcore-maven-example/tree/cd_217M2LatestEmf

wonder if you can transfer to your problem

[2019-02-10 10:50] merks commented on #71
Note that the name referenced in the op's return type must refer to an EClassifier in some Ecore  model.  So while many things are visible because Ecore has EDataTypes for them and the scoping rules make those visible, don't expect some arbitrary Java class name to be visible in this scope.  One must define a type in some Xcore model to make Iterable visible as the return type of an op or as the t

[2019-02-10 11:52] merks commented on #71
Oops, it should be like this with a type parameter so that you can pass arguments and so there is no raw type warning.

type Iterable<T> wraps Iterable

class Test
{
	op Iterable<?> bar() {
		return null
	}

}

[2019-02-10 12:19] merks commented on #71
Hmm, every time the  < T > disappears when I post Iterable < T >when I post!

[2019-02-11 13:43] richard-melvin commented on #71
Following the [link above](https://github.com/cdietrich/xcore-maven-example/tree/cd_217M2LatestEmf) and copying out the exact full list of dependencies to the dependency section of the maven-plugin does seem to work.

[2019-02-11 20:53] cdietrich commented on #23
@rosczja @rosczja can this be closed now?

[2019-02-12 06:36] rosczja commented on #23
@cdietrich Yes this can be closed now

[2019-02-12 06:36] #23 closed

[2019-02-14 20:46] cdietrich commented on #71
TODO: can we improve something or just close

[2019-02-15 14:06] richard-melvin commented on #71
Might as well close this specific issue. But please keep in mind that there is obviously some kind of underlying process or tools issue that causes these kind of dependency problems to keep happening.

[2019-02-15 14:06] #71 closed

[2019-03-18 08:59] cdietrich commented on #64
cc @holgerschill

[2019-03-26 15:45] JLLeitschuh opened #74 "[SECURITY] Releases are built/executed/released in the context of insecure/untrusted code"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)
[CWE-494: Download of Code Without Integrity Check](https://cwe.mitre.org/data/definitions/494.html)

The build files indicate that this project is resolving dependencies over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infec

[2019-03-26 15:59] cdietrich commented on #74
TODO lsp4j does not use CI.eclipse org.

[2019-03-26 16:47] JLLeitschuh commented on #74
I think that the resolution in Maven is order dependent so a malicious attacker could respond with a compromised JAR file when the typefox.io server would have returned a 404

[2019-03-26 17:19] cdietrich commented on #74
Fixed on master

[2019-03-26 17:19] #74 closed

[2019-03-26 17:22] JLLeitschuh commented on #74
@cdietrich I'd recommend keeping this open until either a CVE has been assigned or the previous releases have been audited to ensure there wasn't malicious compromise.

[2019-03-26 17:24] cdietrich commented on #74
i have now idean on the process on eclipse side.
and as i said: releases are build with https://ci.eclipse.org
cc @waynebeaton

[2019-03-26 17:25] JLLeitschuh commented on #74
Ah! Right! My mistake

[2019-03-26 17:37] JLLeitschuh commented on #74
Actually, in this case, the `typefox.io` repository was used leaving the build vulnerable during a release. In the case of the project utilizing the Gradle build, I agree the vulnerability would not impact your CI pipeline.

[2019-03-27 13:53] LorenzoBettini commented on #35
Now that the BOM has been released, I see that the BOM does not specify in the dependencyManagement section all the Xtext Maven artifacts... why is that? Moreover, the generated POM in the web project has all dependencies with the versions hardcoded, thus these dependencies are not in the BOM either?

Is that intentional? @cdietrich @kthoms

[2019-03-27 13:57] cdietrich commented on #35
@LorenzoBettini i cannot follow you. please be more explicit

[2019-03-27 14:01] cdietrich commented on #35
https://ci.eclipse.org/xtext/job/xtext-core/job/master/lastSuccessfulBuild/artifact/build/maven-repository/org/eclipse/xtext/org.eclipse.xtext.ide/2.18.0-SNAPSHOT/org.eclipse.xtext.ide-2.18.0-20190326.230423-1.pom/*view*/

[2019-03-27 14:02] LorenzoBettini commented on #35
When a project provides a BOM, besides the dependencies used by the project's modules should also list all the modules of the project in the BOM itself.

Thus, the BOM should also contain references to all the Xtext Maven artifacts, with the corresponding versions. For example, it should list

[code]

So that clients, once imported the BOM, can simply specify as dependencies

[code]

Moreover, the

[2019-03-27 14:08] cdietrich commented on #35
and for the webpart:
it might have been intentiopn not to include this in the bom
since it is used in the web part only

[2019-03-27 14:11] cdietrich commented on #35
i dont know if there are any best practices for that
a framework that has a shitload of deps but that may be relevant only for a minimal part / special usecase

[2019-03-27 14:11] LorenzoBettini commented on #35
You don't need to know the version in advance, that's why in the BOM you should specify something like

[code]

The Xtext Maven artifacts will be specified with the same version of the BOM :)

Can I work on that?

I think for the web project it was just forgotten, and it makes sense to list the web project's dependencies in the BOM...

Also the IdeProjectDescriptor does not use the BOM: https://gi

[2019-03-27 14:13] cdietrich commented on #35
i want this to be discussed with @szarnekow and @kthoms first.
unfortunately we are all busy like hell right know
me answering you give me overtime already

[2019-03-27 14:14] cdietrich commented on #35
@LorenzoBettini doesnt ide inherit from parent
see https://github.com/eclipse/xtext-core/issues/1076
where again @szarnekow and @kthoms did not look at yet

[2019-03-27 14:20] LorenzoBettini commented on #35
OK, no problem, I can work on that if you think it's worthwhile.
Summarizing, the BOM should provide a curated list of dependencies, including all the modules of the project itself. For example, log4j bom lists all its modules: https://github.com/apache/logging-log4j2/blob/master/log4j-bom/pom.xml and the Spring Boot BOM lists its modules and all the dependencies (including test dependencies, but

[2019-03-27 14:26] cdietrich commented on #35
i am not sure if this will explode. none of the downstream stuff is available when we built the bom
or when we build xtext-core using the bom

[2019-03-27 14:29] cdietrich commented on #35
we also are i a kind of in between state regarding the bom cause
https://github.com/eclipse/xtext/issues/1388

[2019-03-27 14:32] cdietrich commented on #35
=> i currenty have no idea if this is a good idea and if it is worth working on this
(i am not a maven nor a gradle wizard, but i fear nobody actively working on Xtext is and the feedback from the community is very poor)

[2019-03-27 14:39] LorenzoBettini commented on #35
I still don't understand this part

"i am not sure if this will explode. none of the downstream stuff is available when we built the bom
or when we build xtext-core using the bom"

In any case, before releasing a new version of Xtext, you need to manually change the versions in the wizard, thus, at that time, you simply change the versions in the BOM, it's just the same, but with the advantages I

[2019-03-27 14:41] cdietrich commented on #35
i am not talking about xtext client projects.
i am talking about building

xtext-lib, xtext-core, xtext-extras, xtext-web, xtext-xtend with gradle
xtext-eclipse and xtext-xtend with tycho
xtext-maven and xtext-xtend with pure maven

[2019-03-27 14:42] cdietrich commented on #35
and no, there is no guaranty. it depends on where in the level xtext and as where others are

[2019-03-27 14:43] cdietrich commented on #35
and web and idea dont specify emf for example

[2019-03-27 14:45] cdietrich commented on #35
but as i said: i am NOT a maven wizard.
i see only what we have a `<insert curses here>` repo split with `<insert curses here>`  3 different kinds of builds on 9 repos and i want to be sure this works.

[2019-03-27 14:47] LorenzoBettini commented on #35
Then probably I'm missing something in the current build process I'm afraid...
Or probably I'm not able to explain myself...

and also the sentence of web and ide that don't specify emf is mysterious to me ;)
what's imported with the BOM is not automatically a dependency of a user...
if the user (importing the bom) specifies that dependency then it will be automatically used with the imported vers

[2019-03-27 14:48] cdietrich commented on #35
yes. but i simply want to make sure it works. so it would be up to you to do so.
and it still should work if we do eclipse/xtext#1388

[2019-03-27 14:48] cdietrich commented on #35
and again: this is not about the user. it is about building xtext itself

[2019-03-27 14:52] cdietrich commented on #35
and again: i dont know if the versions in ide and web are intentional, merge errors or were forgotten

[2019-03-27 14:52] LorenzoBettini commented on #35
OK, I give up, please ping me if I can provide help ;)

[2019-03-27 14:54] LorenzoBettini commented on #35
According to https://blogs.itemis.com/en/eclipse-xtext-goes-shopping-the-new-bill-of-materials versions in the ide and web are simply forgotten

;)

[2019-03-27 14:54] cdietrich commented on #35
@LorenzoBettini please dont
lets wait for @szarnekow and @kthoms

[2019-03-27 14:57] LorenzoBettini commented on #35
Yes, of course I meant "I give up for the moment", not "for good" ;)

and as a further note (to keep it in the discussion) you can safely name a dependency in the BOM even if it does not exist; I guess that's related to the building process, if I understand it correctly

[2019-03-27 14:59] cdietrich commented on #35
yes i am not sure if we can do what if we create it with gradle
you might have a look at my
`cd_javaPlatformExperiments`
branches in lib and core

[2019-03-27 15:05] LorenzoBettini commented on #35
Well, in that case, I probably won't be able to help... I really hate gradle and I'm currently not planning to ever deal with that ;) I have invested much on Maven, which works like a charm, it's a build system and behaves like a build system, not like a programming language :)

jokes apart, I'm still available for the Maven side

[2019-03-27 20:21] kthoms commented on #35
We have put this on our list for discussion in next week and let you know the results here.

[2019-04-18 15:26] JLLeitschuh commented on #74
CC: @waynebeaton I think that this needs a CVE number.

[2019-05-06 16:02] cdietrich commented on #74
cve CVE-2019-10249

[2019-07-24 10:46] ciis0 opened #96 "Allow concurrent code generation accross modules in parallelized multi-module builds, by using forking"
Hello there. :)

As already discussed in #36, real parallelization for xtext generation won't work as EMF is inherently non-threadsafe.

In our project we have a huge build (170+ modules) that already builds in parallel (thanks to #37). This has improved our build times already (currently roughly 1h parallel in contrast to 2h sequentially).
Especially in the early part we have many modules that ar

[2019-07-29 06:46] szarnekow commented on #96
Thank you for the heads-up. Why do you think that multiple JVMs will help? Building Xtext will eventually update the Xtext index in the host vm. Apart from that, resource sets could be used in parallel for the independent modules.
Just wondering, how multiple JVMs fit into the picture.

[2019-07-29 18:16] ciis0 commented on #96
I am refering to this statement: https://github.com/eclipse/xtext-maven/issues/36#issuecomment-395565788

The simplest way around this is to launch each EMF generation in it's own JVM so (missing) thread-safety is not a problem.

[2019-07-29 18:36] ciis0 commented on #96
What are you referring to here?
I am unfortunately not (yet?) familiar with Xtext, EMF and the likes. :)

[2019-12-30 10:35] jrosczak opened #111 "Enable code generation in the generate-test-sources phase"
The default phase for this plugin is "generate-sources" and the resolution scope is "compile". Therefore it is not possible / easy to use this plugin with a language that generates test classes, which for instance use the junit test framework.

The problem is that the junit classes are usually not available on the compile classpath in a normal maven project, but on the test classpath.

I would lik

[2020-01-08 13:30] cdietrich commented on #111
@kthoms @szarnekow what do you think?

[2020-01-08 15:58] szarnekow commented on #111
Extracting the common parts into a base class to avoid XtextTestGenerator being an instance of XtextGenerator sounds favourable to me, too.

[2020-01-10 15:30] cdietrich opened #116 "Jenkins build has no Junit results"
https://ci.eclipse.org/xtext/job/xtext-maven/job/master/

[2020-01-13 07:22] cdietrich commented on #116
i will also fix the currently broken tests as #20 will need more time

[2020-01-13 07:23] cdietrich commented on #20
also the bom seems to be underused in the tests

[2020-01-13 07:41] cdietrich commented on #116
Fixed in 2.21

[2020-01-13 07:41] #116 closed

[2020-01-31 07:50] cdietrich commented on #111
Fixed in 2.21.

[2020-01-31 07:51] cdietrich commented on #111
@jrosczak could you please write a few lines for
https://github.com/eclipse/xtext/blob/website-master/xtext-website/_posts/releasenotes/2020-03-03-version-2-21-0.md

[2020-02-12 12:32] cdietrich commented on #111
Fixed in 2.21

[2020-02-12 12:32] #111 closed

[2020-02-21 09:21] cdietrich commented on #64
clear milestone

[2020-02-21 09:55] cdietrich commented on #35
clear milestone

[2020-07-30 11:33] OrenGitHub opened #131 "mvn install gets stuck"
Here is what I did
[code]
It seems to hand indefinitely, last stdout message:
[code]

[2020-07-30 11:34] cdietrich commented on #131
can you please provide jstack?

[2020-07-30 11:42] OrenGitHub commented on #131
I only waited for a minute or so, maybe it just didn't finish?
Sorry I'm clueless, I don't even know what a jstack is

[2020-07-30 11:50] cdietrich commented on #131
there is a jstack command in java which shows you what threads are currently doing. and if something changes if you execute it multiple times with a few secs delay

[2020-07-30 11:58] cdietrich commented on #131
[code]

[2020-07-30 13:19] OrenGitHub commented on #131
After more than one hour still no change.
Here is the output of running `jps`. Which PID should I use for jstack?
[code]

[2020-07-30 13:38] cdietrich commented on #131
i propose that you simply run the command and wait 20-30 mins.

[2020-07-30 13:44] OrenGitHub commented on #131
OK will do.
When I type
[code]
Then everything ends in a sec:
[code]
Is the `T E S T S` part mandatory?

[2020-07-30 13:46] cdietrich commented on #131
on jenkins it is. but of course you dont have to use them if you dont want (am not sure what your goal is)

[2020-07-30 13:52] OrenGitHub commented on #131
- I want to a `hello-xtext-world` application, compile-able from command line, (ideally with `mvn compile`)
 - It will accept a `my_grammar.xtext` and produces `my_interpreter.jar`
 - `java -jar my_interpreter.jar input.my_dsl` will determine if it has correct syntax,
 - and if it does, will interpret its meaning according to my specification

I hope I'm in the right place for that (?)

[2020-07-30 13:59] cdietrich commented on #131
nope. this is for the xtext-maven-plugin which is used to translate e.g. yourdsl files to generated code (e.g. java, txt, ...)
to create a Xtext project there is

https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.xtext.wizard/src/org/eclipse/xtext/xtext/wizard/cli/CliProjectsCreatorMain.java

which basically allow you to do what the new xtext project wizard does from a java main

[2020-07-30 17:30] OrenGitHub commented on #131
@cdietrich  Thanks for your patience!
What still bothers me is that in order to compile `CliProjectsCreatorMain.java`
I need some maven `pom.xml` (no ?) Otherwise a ton of jars will be missing (?)
Also, from what you wrote, I understand that input dsl files (with correct syntax I guess)
are transformed into actual java files? which can be linked and run afterwards?

[2020-07-30 17:34] cdietrich commented on #131
Hi I cannot follow you https://search.maven.org/artifact/org.eclipse.xtext/org.eclipse.xtext.xtext.wizard/2.22.0/jar

[2020-07-30 17:52] OrenGitHub commented on #131
OK, I'll try to post in SO in case I can't solve it --
Thanks again for your help!

[2020-07-30 17:52] #131 closed

[2020-08-18 13:59] cdietrich commented on #38
this requires maven 3.3.9 see https://issues.apache.org/jira/browse/MNG-5440

[2020-10-16 07:02] #20 closed

[2021-02-14 15:17] theogiraudet commented on #11
Any news from this issue? I have the same problem, so my code doesn't compile. The Xtends lambda are compiled in Java anonymous class, and the attributes I pass as parameters of the lambda lose their immutable nature

[2021-02-15 09:59] cdietrich commented on #11
no there is no update.

workaround idea: create a Subclass of XtendStandaloneSetup that uses custom XtendRuntimeModule that customizes `org.eclipse.xtext.xbase.compiler.GeneratorConfigProvider.get(EObject)`

[2021-02-16 06:45] imhotep82 opened #139 "Trace options in generator are ignored"
When I use the generator to also attach trace information, trace options (using DSL as source etc.) are ignored.

Options in POM.xml :
[code]

Workaround:
Attach them later with Xtend (disabling compilation) (also POM.xml) :

[code]

FYI: We use this for surefire + jacoco to show code coverage on an Xbase grammar in Sonarqube.

It would be nice if this behaviour could either be:
* Documented in th

[2021-02-16 06:57] cdietrich commented on #139
hi. would be nice if you could debug what happens here.

[2021-02-16 17:23] imhotep82 commented on #139
I didn't find any occurrences of `org.eclipse.xtext.generator.OutputConfiguration.isInstallDslAsPrimarySource()` in xtext-core.
There is one mention in `https://github.com/eclipse/xtext-eclipse/blob/61cfaa76f415daae3fe36c0fafcf1123bcfe83e6/org.eclipse.xtext.builder/src/org/eclipse/xtext/builder/smap/DebugSourceInstallingCompilationParticipant.java`, though.

[2021-02-16 17:56] cdietrich commented on #139
see also https://github.com/xtext/xtext-gradle-plugin/blob/996a26bb281bf3828c143067f138a582fe5eb149/xtext-gradle-builder/src/main/java/org/xtext/gradle/builder/DebugInfoInstaller.xtend

[2021-02-20 21:28] imhotep82 commented on #139
I guess this bug concerns the StandaloneBuilder then? I could check and create a PR there to fix this issue...

[2021-02-21 06:46] cdietrich commented on #139
I don’t know if this is easily possible as you would have to hook into the classes built by maven java compiler

[2021-03-17 17:20] imhotep82 commented on #139
On second thought, this is more a lifecycle issue. the xtext-maven MOJOs generate the java (test) source files, then the maven compiler kicks in and at last, there should be additional lifecycle steps bound to the MOJOs (process-classes or process-test-classes). Would it be OK to add an additional lifecycle phase to the MOJOs?

[2021-03-18 11:42] cdietrich commented on #139
i assume we need separate mojos for it as we have it for the xtend-maven-plugin

[2021-03-18 12:02] imhotep82 commented on #139
See my PR. I have two. One for target/classes and one for target/test-classes

[2021-03-18 12:43] imhotep82 commented on #139
#141

[2021-04-09 04:37] cdietrich commented on #139
fixed  in 2.26

[2021-04-09 04:37] #139 closed

[2021-04-09 04:42] cdietrich commented on #139
@imhotep82 maybe you can add a few words here https://github.com/eclipse/xtext/blob/website-master/xtext-website/documentation/350_continuous_integration.md

[2021-04-09 10:15] imhotep82 commented on #139
Will do, I'll create a PR from my fork to master, is this correct?

[2021-04-09 10:19] cdietrich commented on #139
no website-master

[2021-04-09 10:51] imhotep82 commented on #139
Done. https://github.com/eclipse/xtext/pull/1965

[2021-06-21 14:12] LorenzoBettini opened #146 "xtext-maven-plugin has problems when used with Tycho (will soon have)"
I'm experiencing a few problems migrating to Eclipse TP **2021-06** when using `xtext-maven-plugin` to generate Java code from my DSLs (relying on Xbase) when it is run together with Tycho (just to be clear, in a pure Maven project, there's no problem). That's somehow related to the JDT version range dependency hell (see also https://github.com/eclipse/xtext/issues/1976) and to the new versions of

[2021-06-21 14:22] cdietrich commented on #146
hmm i have no clue where the generator depends on jdt.core
should it also depend on tool and apt?

[2021-06-21 14:33] cdietrich commented on #146
we simply should stop all the backwards compatibility crap ....

[2021-06-22 08:15] LorenzoBettini commented on #146
@cdietrich I'm answering this one first, and then later to the other questions:

As far as I know, Maven creates a classpath by first inserting the runtime dependencies of the plugin, the ones in the `<dependencies` section and then the actual compile dependencies of the plugin itself. Thus, it first inserts in the classpath the dependencies of  `org.xtext.example.mydsl`. Since we are in a Tycho b

[2021-06-22 08:16] LorenzoBettini commented on #146
@cdietrich but is it really a problem of backwards compatibility? That's not related to Java 8 and Java 11... or I don't understand what you mean

[2021-06-22 08:25] LorenzoBettini commented on #146
First of all, from what I understand, the `jdt.core` optional dependency in xtext.xtext.generator is completely useless since we never use that in the sources, but only in some wizard strings: https://github.com/eclipse/xtext-core/search?l=Java&q=jdt.core

So we could simply remove that.

However, as you say, even by removing that we still get it transitively from emf.codegen:

![image](https://us

[2021-07-21 10:23] cdietrich commented on #146
see aalso https://github.com/eclipse/xtext-core/pull/1722

[2021-11-22 08:26] LorenzoBettini commented on #146
PING! Before 2.26 this should be fixed...

[2021-11-22 08:35] cdietrich commented on #146
am not sure if pinging will help. wait for feedback for months now

[2021-11-22 16:16] kthoms commented on #146
I know, I know. Shame on me. I am completely under load with my customer also since months, and it has zero to do with anything Xtext, Eclipse, Maven. Whenever I think there is light at the end of the tunnel then it just the train. 😔

[2021-11-23 07:32] LorenzoBettini commented on #146
@cdietrich @kthoms  OK, let me know what I can do now... I think I've already done what I could do up to now...

[2021-11-23 07:46] cdietrich commented on #146
i still did not fully understand the problem.
i also have no idea how all the fragment stuff works with tycho.

[2021-12-02 10:05] LorenzoBettini commented on #146
I did my best to explain the problem and the solution...
let's see whether @kthoms can comment something... looks like you trust him more than me

[2021-12-02 10:20] cdietrich commented on #146
:( this arguing makes me want to quit.

[2021-12-02 10:25] LorenzoBettini commented on #146
it also makes me want to quit as well

[2021-12-08 07:42] kthoms commented on #146
I'll try to catch up here finally.

First, I could not reproduce the actual problem so far. I have checked out your example project, and it worked out of the box. Then I changed to Target Platform 2021-12 and also to Tycho 2.4.0, both worked.

However, I got your main point here. The risk is that a fragment contributes to the same package as the host bundle, but with different signatures, because

[2021-12-09 10:26] LorenzoBettini commented on #146
@kthoms thank you for the feedback!

It's quite strange you could not reproduce the original problem... I'll check it myself in the next few days.

In any case, please tell me how you'd like to proceed.

[2021-12-09 10:30] kthoms commented on #146
From my side I would be fine with the <extraRequirements> approach. This should be generated by the wizard. At least in the wizard code there should be a comment why this is added, since one year later no-one would know and that this is "just" a workaround.

[2021-12-10 09:35] LorenzoBettini commented on #146
@kthoms OK, so I'll create a PR in the next few days following the approach of extraRequirement, which we used in the past, and leave a comment there. (We also do something similar for UI tests in the macOS environment for jdt.launch feature)

[2022-01-13 13:22] cdietrich commented on #146
any update here?

[2022-01-17 07:12] LorenzoBettini commented on #146
@cdietrich I'll try to provide a PR as soon as possible.

[2022-01-21 10:41] cdietrich commented on #146
@LorenzoBettini should i go with M3 without?

[2022-01-21 11:10] LorenzoBettini commented on #146
@cdietrich I can't assure to work on that in the weekend or on the next week, so I'd say yes. For sure I'll work on that before the final release. For that there's still time, right?

[2022-01-21 11:16] cdietrich commented on #146
it depends if we release on 31st or postpone it

[2022-01-24 15:50] cdietrich commented on #139
i dont know. i assume no

[2022-01-25 09:44] OLibutzki commented on #139
Seems not to solve it...

[2022-02-14 05:33] cdietrich commented on #146
@LorenzoBettini any update?

[2022-02-15 09:20] LorenzoBettini commented on #146
@cdietrich I'll try to address that by the end of the week

[2022-02-15 09:21] cdietrich commented on #146
@LorenzoBettini  please be aware we wont postpone release on 28th

[2022-02-15 09:22] LorenzoBettini commented on #146
@cdietrich sorry I don't understand, do you mean after 28th?

[2022-02-15 09:24] cdietrich commented on #146
if we dont have a patch in time for the release on feb 28th we will release without a patch

[2022-02-16 09:42] LorenzoBettini commented on #146
@cdietrich PR https://github.com/eclipse/xtext-core/pull/1833 created

[2022-02-21 08:22] cdietrich commented on #146
workaround in place. final solution still needs discussion

[2022-02-22 09:08] cdietrich commented on #146
workaround in place.

[2022-02-22 09:08] #146 closed

[2022-10-10 15:16] cdietrich opened #186 "change all tests to run with Java 11 as minimun"

[2022-10-10 15:17] cdietrich commented on #186
also check the todo in [org.eclipse.xtext.maven.plugin/src/test/resources/it/generate/xcore-mapping/sample.emf/pom.xml](https://github.com/eclipse/xtext-maven/pull/185/files#diff-b760c22bbc0cdb021bb2c1cea1cb1b79452de268491ab589f85155f181328092)

[2022-11-06 13:47] LorenzoBettini opened #189 "How to configure test output directory?"
If I understand correctly, the plugin does not provide any means to specify an output directory for generating code from the test source files. The only way is to write two executions with different output configurations, right?

However, then in Eclipse, there's no way to have main files and test files for a DSL in the same project unless the generated code is generated in the same output directo

[2022-11-24 06:06] cdietrich commented on #189
am not sure if i got this.
you can have an output dir per source folder.

or do you want to have test and production code generated from the same source file.

[2022-11-24 06:22] cdietrich commented on #186
parent pom sets java 11

[2022-11-24 06:22] #186 closed

[2022-11-28 09:35] LorenzoBettini commented on #189
Yes, I found out that.
I was thinking more about what xtend-maven-plugin provides, without the need for output dir per source folder.
However, feel free to close this

[2022-11-28 09:40] cdietrich commented on #189
i assume the answer would need to be reverse engineered